Graphics.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Graphics">
		<xs:complexType>
			<xs:sequence>
				<xs:choice maxOccurs="unbounded">
					<xs:element name="Sprite">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:string">
									<xs:attribute name="Name" type="xs:string" use="required" />
									<xs:attribute name="X" type="xs:unsignedShort" use="required" />
									<xs:attribute name="Y" type="xs:unsignedShort" use="required" />
									<xs:attribute name="Width" type="xs:unsignedShort" use="required" />
									<xs:attribute name="Height" type="xs:unsignedShort" use="required" />
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="Trigger">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="unbounded" name="State">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Sprite">
												<xs:complexType>
													<xs:simpleContent>
														<xs:extension base="xs:string">
															<xs:attribute name="Name" type="xs:string" use="required" />
															<xs:attribute name="X" type="xs:unsignedByte" use="required" />
															<xs:attribute name="Y" type="xs:unsignedByte" use="required" />
															<xs:attribute name="Width" type="xs:unsignedByte" use="required" />
															<xs:attribute name="Height" type="xs:unsignedByte" use="required" />
														</xs:extension>
													</xs:simpleContent>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="Name" type="xs:string" use="required" />
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="Name" type="xs:string" use="required" />
							<xs:attribute name="State" type="xs:string" use="optional" />
						</xs:complexType>
					</xs:element>
					<xs:element name="Animation">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:string">
									<xs:attribute name="Name" type="xs:string" use="required" />
									<xs:attribute name="X" type="xs:unsignedByte" use="required" />
									<xs:attribute name="Y" type="xs:unsignedByte" use="required" />
									<xs:attribute name="Width" type="xs:unsignedByte" use="required" />
									<xs:attribute name="Height" type="xs:unsignedByte" use="required" />
									<xs:attribute name="Frames" type="xs:unsignedByte" use="required" />
									<xs:attribute name="Loop" type="xs:unsignedByte" use="required" />
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>